<div id="display">
  <%= render :file => 'offices/index' %>
</div>
<div id="configure">
  <%= render :file => 'office_types/index' %>
</div>
<div id="attributes">
  <%= render :file => 'additional_attributes/index' %>
</div>
