<div class="main-content">
  Existing Offices :
  <div>
    <div class="treeview side-bar" rel="office-content-bar">
      <%= tree(@parent_office) %>
    </div>

    <div id="office-content-bar" class="content-bar">
    </div>
  </div>
  <div style="clear:left;"></div>
  <%= link_to t('view.offices.new'), new_office_path %>
  <br/>
</div>