<div class="container">
  Existing Offices :
  <div>
    <div class="treeview side_content" rel="office_content">
      <%= tree(@parent_office) %>
    </div>

    <div id="office_content" class="main_content">
    </div>
  </div>
  <div style="clear:left;"></div>
  <%= link_to t('view.offices.new'), new_office_path %>
  <br/>
</div>