.top_status_bar {

}

.flash_info {
    border: 2px solid green;
}

.flash_error {
    border: 2px solid red;
}

.banner {
    text-align: center;
}

.tab-content {
    height: 300px;
}

.side_content {
    width: 20em;
    margin: 0 0 0 1em;
    float: left;
    overflow: auto;
}

.main_content {
    margin: 0 0 0 20em;
}

.fixed_container {
    height: 10px;
}

.required {
    background-image:url("images/required.gif");
    background-repeat:no-repeat;
}

#footer {
    text-align:center;
}

a.cancel {
    padding-left: 25px !important;
    background-image: url("../images/web-app-theme/cross.png");
    background-position: 10% 50%;
    background-repeat: no-repeat;
}