<h3><%= t('view.client_types.header') %></h3>
<h4><%= t('view.client_types.name') %></h4>
<div class='treeview'>
  <%= tree(@client_types) %>
</div>
<hr/>

<%= render :file => 'client_types/new', :locals => {:client_type => @client_type} %>