<% content_for :dashboard_content do %>
    <div class="tabs">
      <ul>
        <li><a href="#display" title="Offices Display">Offices</a></li>
        <li><a href="#configure" title="Offices Configure">Configure</a></li>
        <li><a href="#attributes" title="Office Attributes">Attributes</a></li>
      </ul>
      <%= yield %>
    </div>
<% end %>
<%= render :file => 'layouts/dashboard' %>
