<% content_for :dashboard_content do %>
    <div class="tabs">
      <ul>
        <li><a href="#display" title="Users Display">Users</a></li>
        <li><a href="#attributes" title="Users Attributes">Attributes</a></li>
      </ul>
      <%= yield %>
    </div>
<% end %>
<%= render :file => 'layouts/dashboard' %>
